* {
  box-sizing: border-box;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}
[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}
[placeholder]:focus::-moz-input-placeholder {
  color: transparent;
}

a, input, select {
  outline: none;
}
a:focus, a:active, input:focus, input:active, select:focus, select:active {
  outline: none;
}

/* if needed - to hide spin button */
/* input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0; 
}
input[type="number"] {
    -moz-appearance: textfield;
} */
input::-ms-clear, input::-ms-reveal {
  display: none;
}

select::-ms-expand {
  display: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

textarea,
input[type=text],
input[type=button],
input[type=submit],
select {
  appearance: none;
}

textarea,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
select {
  border: 1px solid white;
}

input[type=radio], input[type=checkbox] {
  vertical-align: middle;
  margin: 0 8px 0 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
button {
  border: 0;
  padding: 0;
}

select {
  text-indent: 1px;
  text-overflow: "";
}

button {
  cursor: pointer;
  white-space: nowrap;
}

textarea {
  resize: vertical;
}

b, strong {
  font-weight: bold;
  font-size: inherit;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  user-select: none;
  max-width: 100%;
  height: auto;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: none;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  max-height: 100%;
  pointer-events: none;
}

body {
  font-family: Arial, sans-serif;
  position: relative;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: white;
}

.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  padding: 10px;
}

#generate-layout-form {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#generate-layout-form .left-side {
  margin-right: 12px;
}
#generate-layout-form .left-side > span {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
#generate-layout-form .right-side > select {
  width: 60px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
}
#generate-layout-form .right-side > select option {
  padding: 2px 4px;
}
#generate-layout-form .right-side > button {
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
  padding: 6px 10px;
  margin-left: 4px;
}
#generate-layout-form .right-side > button:active {
  background-color: gray;
  color: white;
}

.pex-tiles {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 14px;
  position: relative;
  text-align: center;
}

.pex-box {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  height: 200px;
}
.pex-box.active, .pex-box.matched {
  transform: rotateY(180deg);
}
.pex-box:hover .pex-box-face.front-face span {
  opacity: 0.6;
}
.pex-box.visited .pex-box-face {
  background: #4e4e4e;
}
.pex-box .pex-box-face {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border: 1px solid white;
  background: black;
  backface-visibility: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.pex-box .pex-box-face.front-face span {
  font-size: 30px;
  transition: opacity 0.3s;
  color: white;
}
.pex-box .pex-box-face.front-face.visited span {
  display: none;
}
.pex-box .pex-box-face.back-face {
  transform: rotateY(180deg);
}
.pex-box .pex-box-face img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/*# sourceMappingURL=styles.css.map */
