@charset "UTF-8";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

@import 'fonts';
@import 'partials/colors';
@import 'partials/variables';
@import 'partials/mixins';
@import "partials/animations";
@import "partials/webfonts";
@import 'partials/normalize';
@import 'partials/base';
@import 'partials/helpers';
@import "partials/svg-sprites";
@import "partials/typography";
@import "partials/buttons";

@import 'layout/grids';
@import 'layout/header';
@import 'layout/pex-tiles';
@import 'layout/navigation';
@import 'layout/layout';
@import 'layout/footer'; 
 

* {
	@include webfont-text;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    @include webfont-text;
    position: relative;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    background: $white;

    p {
    }

    small {
    }
}



@import '_shame';