@use "partials/base";

body {
    font-family: Arial, sans-serif;
    position: relative;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    background-color: white;
}

.page-wrapper {
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    padding: 10px;
}

#generate-layout-form {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .left-side {
        margin-right: 12px;

        > span {
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
        }
    }

    .right-side {

        > select {
            width: 60px;
            padding: 5px 10px;
            border: none;
            border-radius: 8px;
            background-color: lightgray;
            color: black;

            option {
                padding: 2px 4px;
            }
        }

        > button {
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            border-radius: 8px;
            background-color: lightgray;
            color: black;
            padding: 6px 10px;
            margin-left: 4px;

            &:active {
                background-color: gray;
                color: white;
            }
        }
    }
}

.pex-tiles {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 14px;
    position: relative;
    text-align: center;

    &.hell-layout {
        grid-template-rows: repeat(20, 1fr);
        grid-template-columns: repeat(20, 1fr);
        grid-gap: 2px;
    }
}

.pex-box {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    height: 200px;

    .pex-tiles.hell-layout & {
        height: 36px;
    }

    &.active,
    &.matched {
        transform: rotateY(180deg);
    }

    &:hover {
        .pex-box-face {
            &.front-face {
                span {
                    opacity: 0.8;
                }
            }
        }
    }


    &.visited {
        .pex-box-face {
            background: #4e4e4e;
        }
    }

    .pex-box-face {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        border: 1px solid white;
        background: black;
        backface-visibility: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        overflow: hidden;

        .pex-tiles.hell-layout & {
            border-radius: 8px;
        }

        &.front-face {
            .front-face-inner {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .title {
                    font-size: 16px;
                    transition: opacity 0.3s;
                    color: gray;
                    text-transform: uppercase;
                    margin-bottom: 10px;

                    .pex-tiles.hell-layout & {
                        font-size: 6px;
                        margin-bottom: 3px;
                        letter-spacing: .6px;
                    }
                }
                .index {
                    font-size: 34px;
                    transition: opacity 0.3s;
                    color: white;
                    font-weight: bold;

                    .pex-tiles.hell-layout & {
                        font-size: 12px;
                        letter-spacing: .4px;
                    }
                }
            }

            &.visited {
                span {
                    display: none;
                }
            }
        }
        &.back-face {
            transform: rotateY(180deg);
        }

        img {
            display: block;
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;

            .pex-tiles.hell-layout & {
                border-radius: 8px;
            }
        }
    }
}
