.cf {
	@include cf;
}

.section-xxs {
    @include section-xxs;
}
.section-xs {
    @include section-xs;
}
.section-s {
    @include section-s;
}
.section-m {
    @include section-m;
}
.section-l {
    @include section-l;
}
.section-xl {
    @include section-xl;
}

.is-block { 
	display: block !important; 
}
.is-inline-block { 
	display: inline-block !important; 
}
.is-hidden { 
	display: none !important; 
}

.is-left { 
	float: left !important; 
}
.is-right { 
	float: right !important; 
}

.is-text-left { 
	text-align: left !important; 
}
.is-text-right { 
	text-align: right !important; 
}
.is-text-center { 
	text-align: center !important; 
}

.is-middle { 
	display: inline-block !important; 
	vertical-align: middle !important;
}

.is-fixed { 
	position: fixed !important; 
}
.is-relative { 
	position: relative !important; 
}
.is-absolute { 
	position: absolute !important; 
}
.is-static { 
	position: static !important; 
}

.is-ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.is-uppercase {
	text-transform: uppercase !important;
}

.border-none {
	border: none !important;
}

.mobile-hide {
	display: none !important;
	@include breakpoint($tablet) {
		display: inline-block !important;
	}
}

.desktop-hide {
	display: inline-block !important;
	@include breakpoint($tablet) {
		display: none !important;
	}
}

.desktop-hide-block {
	display: block !important;
	@include breakpoint($tablet) {
		display: none !important;
	}
}

.desktop-hide-block {
	display: block !important;
	@include breakpoint($tablet) {
		display: none !important;
	}
}
